<dom-module id="nosch-products">
    <link rel="import" href="nosch-product-item.html">

    <style>
        :host {
            display: block;
        }

        :host .data-table {
            width: 100%;
            border-collapse: collapse;
            background: white;
            border-radius: 3px;
            border: 1px solid #e5e5e5;
        }

        :host .data-table-row.table-body {
            overflow: hidden;
            height: 48px;
            border-bottom: 1px solid #e5e5e5;
        }

        :host .data-table-row.table-body:hover {
            background: #fafafa;
        }

        @media (max-width: 895px) {
            h2.paper-font-headline {
                font-size: 18px;
                font-weight: bold;
            }
        }
    </style>

    <template>
        <h2 class="paper-font-headline">{{heading}}</h2>

        <table class="data-table">
            <tbody>
                <template is="dom-repeat" items={{products}}>
                    <tr is="nosch-product-item"
                        product-item="[[item]]"
                        class="data-table-row table-body"></tr>
                </template>
            </tbody>
        </table>
    </template>
</dom-module>

<script>
    (function () {
        Polymer({
            is: 'nosch-products',

            properties: {
                heading: {
                    type: String,
                    value: '-- Apply heading! --'
                },
                products: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                }
            }
        });
    })();
</script>
